{% extends 'app/base.html' %}

  
{% block js %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
    $(document).ready(function() {
      let FIRST_NAME = $("#id_first_name").val();
      let LAST_NAME = $("#id_last_name").val();
      let EMAIL = $("#id_email").val();
      
      $('#id_username').prop('readonly', true);
      $('#id_first_name').prop('required', true);
      $('#id_last_name').prop('required', true);

      var minLength = 3;

      $("#id_first_name").on("blur", function(){
        var value = $(this).val();
        if (value.length < minLength) {
          $("#id_first_name").val(FIRST_NAME);

          Swal.fire({
            position: 'center',
            icon: 'warning',
            title: 'El nombre debe tener mínimo 3 carácteres',
            showConfirmButton: false,
            timer: 1500
          })
        }
      });

      $("#id_last_name").on("blur", function(){
        var value = $(this).val();
        if (value.length < minLength) {
          $("#id_last_name").val(LAST_NAME);
    
          Swal.fire({
            position: 'center',
            icon: 'warning',
            title: 'El apellido debe tener mínimo 3 carácteres',
            showConfirmButton: false,
            timer: 1500
          })
        }
      });

      $("#id_email").on("blur", function(){
        var value = $(this).val();
        if (value.length < (minLength + 5)) {
          $("#id_email").val(EMAIL);
    
          Swal.fire({
            position: 'center',
            icon: 'warning',
            title: 'El email debe tener mínimo 8 carácteres',
            showConfirmButton: false,
            timer: 1500
          })
        }
      });
    });

    
  </script>
{% endblock %}

{% block contenido %}
{% load static %}

  <div id="register" class="col-lg-6 col-sm-9 mt-5 mx-1 d-block mx-auto" style="text-align:center;">
    <form action="/editar-disponibilidad/" method="GET">
      <h2>Editar Disponibilidad</h2>
      <hr>
      <div class="col">
        {% for d in Disponibilidades %}
        <div class="row">
          <!-- ID -->
          <input type="hidden" name="id" value="{{d.0}}">
          <div class="form-group col-md-6">
            <label for="p_fec_disp">Fecha Disponibilidad:</label>
            <input type="date" name="p_fec_disp" class="form-control" value="{{d.3}}" required>
          </div>
          <div class="form-group col-md-6">
            <label for="p_hora_disp" >Hora Disponibilidad:</label>
            <input type="time" name="p_hora_disp" id="" class="form-control" value="{{d.4}}" required>
          </div>
          <div class="form-group col-md-6">
            <label for="p_personas">Capacidad</label>
            <input type="number"  min="1" max="12" name="p_personas" id="" class="form-control" value="{{d.5}}" required>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="col mt-4">
        <div class="row">
          <a class="btn btn-primary d-flex mr-auto" href="{% url 'indexDisponibilidades' %}">
            Volver
          </a>
          <button class="btn btn-primary d-flex ml-auto" type="submit">Aceptar</button>
        </div>  
      </div>
    </form>
  </div>


  <style>
    #user-table{
      font-size: 14px;
    }
  </style>
  
  {% endblock %}

