<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Siglo XXI - Menu</title>

    <link rel="icon" type="image/x-icon" href="{% static 'img/principal/Logo.png' %}" />
    <link href="{% static 'css/menu.css' %}" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">

    <!-- Page level plugin CSS-->
    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/bootstrap-table.min.css' %}" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin.css' %}" rel="stylesheet">

    
    <link href="{% static 'css/themify-icons.min.css' %}" rel="stylesheet">


    <!-- AGREGADOS DESPUES -->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic"
        rel="stylesheet" type="text/css" />

    <style>
        .dropdown-container {
            display: none;
            background-color: #262626;
            padding-left: 8px;
        }
    </style>
</head>


<body>
    <header>

        <img src="{% static 'img/principal/logo.png' %}" alt="Logo" class="logo">

    </header>

    <div id="principal">
        <br>
        <div>
            <div class="contenedor_menu">
                {% block contenido %}
                {% endblock %}
 
        </div>

        <br>
    </div>
    <footer class="hide_on_mobile">
        <div>
            <img src="{% static 'img/principal/logo.png' %}" alt="logo" class="logo_footer">
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {% if messages %}
    {% for m in messages %}
    <script>
        swal.fire({
            "title": "",
            "text": "{{m}}",
            "icon": "success",
        })
    </script>
    {% endfor %}
    {% endif %}

</body>



</html>