{% extends 'app/cliente/baseCliente.html' %}

{% block contenido %}
{% load static %}
<br>
<h2 class="titulo_menu">Nuestro Menú</h2>


<div class="d-flex justify-content-center" type="button">
    <form action="/detalle-orden/" method="GET">

        {% for ltd in listarProducto %}
        <div class="cartaMenu">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="p_id_producto" id="inlineRadio1" value="{{ltd.0}}">
                <label class="form-check-label" for="inlineRadio1">{{ltd.1}} $ {{ltd.2}}</label>
            </div>
            <img src="{{ ltd.9 }}" alt="Plato 1">
            <div class="descripcion">
                <a href="" class="text-dark font-weight-bold"></a>
                <br>
                <span class="Precio"><span class="simbolo"></span></span>
            </div>
        </div>
        {% endfor %}
        <input type="hidden" name="p_cantidad" value="1" />
        <input type="hidden" name="p_id_orden" id="p_id_orden"  value="{{id_orden}}">
 
</div>
<hr>
</tbody>
<br>
<div class="d-flex justify-content-center">

    <button type="submit" class="btn btn-primary btn-lg">Agregar Producto</button>
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <a class="btn btn-primary btn-lg" type="submit" href="{% url 'listarDetalleOrden' id_orden %}">Finalizar Pedido</a>
</div>
</form>
{% endblock %}