{% extends 'app/base.html' %}

  
{% block js %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}

{% block contenido %}
{% load static %}

  <div id="register" class="col-lg-6 col-sm-9 mt-5 mx-1 d-block mx-auto" style="text-align:center;">
    <form action="" method="post">
      <h2>Editar Stock de Insumo</h2>
      <hr>
      <div class="col mt-4">
        <div class="row">
          <!-- id -->
          <input type="hidden" name="p_id_producto" value="{{i.0}}">
          <div class="form-group col-md-6">
            <label for="p_nom_prod">Nombre:</label>
            <input type="text" name="p_nom_prod" class="form-control" value="{{i.1}}" required>
          </div>
          <div class="form-group col-md-6">
            <label for="p_precio">Precio:</label>
            <input type="number" name="p_precio" id="" class="form-control" value="{{i.2}}" required>
          </div>
        </div>
      </div>
    </form>
  </div>

  <style>
    #user-table{
      font-size: 14px;
    }
  </style>
  
  {% endblock %}

