{% extends 'app/base.html' %}


{% block contenido %}
{% load static %}

<div id="register" class="col-lg-6 col-sm-9 mt-5 d-block mx-auto" style="text-align:center;">
    <h2>Informes Facturas</h2>
    <hr>
    <form action="" method="post">
        <div class="col">
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="">Fecha Desde:</label>
                    <input type="date" class="form-control">
                
                    <label for="" class="mt-4">Tipo Reporte:</label>
                    <select name="" id="" class="form-control">
                        <option value="">Facturas Pasadas</option>
                        <option value="">Facturas Pagadas</option>
                        <option value="">Facturas Vencidas</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="">Fecha Hasta:</label>
                    <input type="date" class="form-control">
                </div>

                <button class="btn btn-primary d-flex mr-auto mt-4">
                <a href="{% url 'indexGestionFacturas' %}" 
                style="color: white;"
                >Volver</a>
                </button>
                <button class="btn btn-primary d-flex ml-auto mt-4" type="submit">Generar reporte</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}