{% extends 'app/base.html' %}

  
{% block js %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}

{% block contenido %}
{% load static %}

  <div id="register" class="col-lg-6 col-sm-9 mt-5 mx-1 d-block mx-auto" style="text-align:center;">
    <form action="/editar-recetas/" method="GET">
      <h2>Editar receta</h2>
      <hr>      
      {% for r in Recetas %}
      <div class="col">
        <div class="row">
          <input type="hidden" name="p_id_receta" class="form-control" value="{{r.0}}"/>
          <div class="form-group col-md-6">
            <label for="p_nom_receta">Nombre Receta:</label>
            <input type="text" name="p_nom_receta" class="form-control" value="{{r.1}}" required>
          </div>
          <div class="form-group col-md-6">
            <label for="p_tiempo_prep">Tiempo Preparación (Min):</label>
            <input type="number" min="0" max="500" name="p_tiempo_prep" class="form-control" value="{{r.4}}" required>
          </div>
          <div class="form-group col-md-6">
            <label for="p_temp_ideal">Temperatura Ideal (C):</label>
            <input type="number" min="0" max="230" name="p_temp_ideal" class="form-control" value="{{r.5}}" required>
          </div>
          <div class="form-group col-md-12">
            <label for="p_instrucciones">Instrucciones:</label>
            <textarea class="form-control" name="p_instrucciones" id="" cols="30" rows="10" required>{{r.6}}</textarea>
          </div>
        </div>
      </div>
      {% endfor %}
      <div class="col mt-4">
        <div class="row">
          <a class="btn btn-primary d-flex mr-auto" href="{% url 'indexRecetas' %}">
            Volver
          </a>
          <button class="btn btn-primary d-flex ml-auto" type="submit">Aceptar</button>
        </div>  
      </div>
    </form>
  </div>


  <style>
    #user-table{
      font-size: 14px;
    }
  </style>
  
  {% endblock %}

