{% extends 'app/base.html' %}


{% block contenido %}
{% load static %}

<!-- {{message}} -->
<div id="menus-table" class="col-lg-10 col-sm-9 mt-5 d-block mx-auto" style="text-align:center;">
  <h2>Cajas</h2>

  <div id="toolbar">
    <button class="btn btn-primary d-flex pr-auto mb-2"><a href="{% url 'registroGestionCajas' %}" style="color: white; text-decoration: none;">Crear nueva caja</a></button>
  </div>
  <table id="table" class="table table-striped table-bordered" style="width: 100%;"
  data-toggle="table"
  data-toolbar="#toolbar"
  data-search="true">
  
    <thead class="thead-dark">
      <tr>
        <!-- <th scope="col">#</th> -->
        <th scope="col">N° de Caja</th>
        <th scope="col">Fecha de Apertura</th>
        <th scope="col">Fecha de Cierre</th>
        <th scope="col">Monto Apertura</th>
        <th scope="col">Estado de Caja</th>
        <th scope="col">Acciónes</th>
      </tr>
    </thead>
    <tbody>
      {% for c in Cajas %}
      <tr>
        <!-- <th scope="row">{{ u.id }}</th> -->
        <td>{{c.id_nro_caja}}</td>
        <td>{{c.fec_hora_apertura}}</td>
        <td>{{c.fec_hora_cierre}}</td>
        <td>{{c.monto_apertura}}</td>
        <td>{{c.id_est_caja}}</td>
        <td class="p-1">
          <a href="{% url 'modificarGestionCajas' m.id_menu %}" class="btn btn-primary" style="font-size: 14px;"><i class="fa fa-edit"> Editar</i></a>
          <a onclick="" class="btn btn-primary" style="font-size: 14px; color: white; cursor: pointer;"><i class="fa fa-minus-square"> Desactivar</i></a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</div>
<!-- /#wrapper -->

<style>
#menus-table{
  font-size: 14px;
}
</style>

{% endblock %}