{% extends 'app/base.html' %}

  
{% block js %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
    $(document).ready(function() {
      $('#id_username').prop('disabled', true);
      $('#id_first_name').prop('required', true);
      $('#id_last_name').prop('required', true);
    });
  </script>

  <script>
    var minLength = 3;

    $("#id_first_name").on("change", function(){
      var value = $(this).val();
      if (value.length < minLength)
        Swal.fire({
          position: 'top-end',
          icon: 'warning',
          title: 'El nombre debe tener mínimo 3 carácteres',
          showConfirmButton: false,
          timer: 1500
        })
    });
  </script>
{% endblock %}

{% block contenido %}
{% load static %}
    <!-- /.content-wrapper -->
    
    {% load crispy_forms_tags %}
    <div id="register" class="col-lg-6 col-sm-9 mt-5 mx-1" style="text-align:center;">
      <h2>Editar usuario</h2>
      <hr>
      <form action="" method="post">
        {% csrf_token %}
        {{ form | crispy }}
        <div class="col">
          <div class="row">
            <button class="btn btn-primary d-flex mr-auto">
              <a href="{% url 'indexUser' %}" 
              style="color: white;"
              >Cancelar</a>
            </button>
            <button class="btn btn-primary d-flex ml-auto" type="submit">Editar</button>
          </div>
        </div>
      </form>
    </div>
  <!-- /#wrapper -->

  <style>
    #user-table{
      font-size: 14px;
    }
  </style>
  
  {% endblock %}

