* {
    margin:0;
    padding: 0;
}

body {
    background-color:white;
    font-family: fantasy;
}

header {
    width: 100%;
    height: 60px;
    background-color:white;
    /*padding: 10px;*/
    transition: all 0.5s;
}


#principal {
    width: 100%;
    min-height:600px;
    height: auto;
    background-color:white;
}

footer {
    width: 100%;
    height: 100px;
    background-color:white;
}

nav {
    width: auto;
    float:right;
}

nav > ul > li { 
    display: inline-block;
    margin-left:30px;
    
    padding:30px 20px;
    transition: all 0.5s;
}

nav > ul > li:hover {
    background-color:black;
}

nav > ul > li > a {
    color:black;
    text-decoration: none;
}

.logo {
    width: 190px;
    margin:auto;
    display: block;
}


.contenedor_menu {
    width: 90%;
    background-color: #ccc;
    min-height: 500px;
    height: auto;
    margin:auto;
    border-radius: 15px 15px 15px 15px;
}

.cartaMenu {
    width: 200px;
    height: 200px;
    /*border-top: 15px solid rgba(211, 255, 161, 0.514);*/

    display: inline-block;
    margin-top: 10px;
    margin-left:10px;
    overflow: hidden;
    border-radius: 15px 15px 15px 15px;
}

.cartaMenu > img {
    width: 200px;
    height: 130px;
    transition: all 0.5s;
    margin: auto;
    display: flex;
}

.cartaMenu > img:hover {
    transform: scale(1.1);
}

.descripcion {
    
    text-decoration: none;
   /* background-color:rgba(211, 255, 161, 0.514);*/
    color:black ;
    display: block;
    padding:10px 20px;
    border-radius: 0 0 5px 5px;
}

.listado {
    width: 200px;
    height: 100%;
    border-radius: 5px;
    margin-top: 30px;
    margin-left:30px;
    overflow: hidden;
}

.titulo_menu {
    color:#3a444e;
    text-align: center;
}
.titulo_pedido{
    color:#3a444e;
    text-align: center;
}


.logo_footer {
    width:300px;
    margin:auto;
    display: block;
}
.cartaMenu > td{
    font-weight:  bolder;
}

body {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif; 
  }

.total{
    color:#3a444e;
    margin-left:30px;
    text-align: left;
}
.radioButton{
    color:black;
    margin-left:30px;
    text-align: left;
}
.btnPago{
    width:300px;
    height: 100px;
    margin:auto;

}