{% extends 'app/base.html' %}


{% block contenido %}
{% load static %}
<style>
    /* Show in default resolution screen*/
    #graphOrder {
        height: 500px; 
        width: 100%;
    }

    /* If in mobile screen with maximum width 479px. The iPhone screen resolution is 320x480 px (except iPhone4, 640x960) */    
    @media only screen and (max-width: 479px){
        #graphOrder { 
            margin-top: 25px;
            height: 300px; 
            width: 100%; 
        
        }
    }

</style>



<div class="row"> 
    
    
    <div class="col-3 col-lg-3">
        <div class="panel media pad-all">
            <div class="media-left">
                <span class="icon-wrap icon-wrap-sm icon-circle bg-info">
                <i class="fa fa-search fa-2x"></i>
                </span>
            </div>

            <div class="media-body">
                <p class="text-2x mar-no text-thin">{{mesas_totales}}</p>
                <p class="text-muted mar-no">Mesas Totales</p>
            </div>
        </div>
    </div>
    <div class="col-3 col-lg-3 ml-4">
        <div class="panel media pad-all">
            <div class="media-left">
                <span class="icon-wrap icon-wrap-sm icon-circle bg-success">
                <i class="fa fa-search fa-2x"></i>
                </span>
            </div>

            <div class="media-body">
                <p class="text-2x mar-no text-thin">{{mesas_disponibles}}</p>
                <p class="text-muted mar-no">Mesas Disponibles</p>
            </div>
        </div>
    </div>
    <div class="col-3 col-lg-3">
        <div class="panel media pad-all">
            <div class="media-left">
                <span class="icon-wrap icon-wrap-sm icon-circle bg-warning">
                <i class="fa fa-search fa-2x"></i>
                </span>
            </div>

            <div class="media-body">
                <p class="text-2x mar-no text-thin">{{mesas_reservadas}}</p>
                <p class="text-muted mar-no">Mesas Reservadas</p>
            </div>
        </div>
    </div>
    <div class="col-3 col-lg-3">
        <div class="panel media pad-all">
            <div class="media-left">
                <span class="icon-wrap icon-wrap-sm icon-circle bg-danger">
                <i class="fa fa-search fa-2x"></i>
                </span>
            </div>

            <div class="media-body">
                <p class="text-2x mar-no text-thin">{{mesas_ocupadas}}</p>
                <p class="text-muted mar-no">Mesas Ocupadas</p>
            </div>
        </div>
    </div>
    <div class="col-sm-12 ">
        <div id="graphOrder" >
        
        </div>        
    </div>
</div>


{% endblock %}


{% block js %}
<script type="text/javascript" src="{% static 'js/echarts.min.js' %}"></script>
<script type="text/javascript">

  let myChart = echarts.init(document.getElementById("graphOrder"));

  option = {
      title: {
          text: 'Cantidad de Clientes Anuales '
      },
      tooltip: {},
      legend: {
          data:['Cantidad']
      },
      xAxis: {
          data: ["ENE","FEB","MAR","ABR","MAY","JUN", "JUL" , "AGO" , "SEP" , "OCT","NOV","DIC"]
      },
      yAxis: {},
      series: [{
          name: 'Cantidad',
          type: 'bar',
          data: [12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12]
      }]
  };

  myChart.setOption(option);

</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>

{% endblock %}