<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>INDEX SIGLO - XXI</h2>

    {% if user.is_authenticated %}
        <h3>Usuario autenticado</h3>
        <a href="#">@{{ user.username }}</a>
        <br>
        <a href="{% url 'logout' %}">Cerrar Sesión</a>
    {% else %}
        <a href="{% url 'login' %}">Iniciar Sesión</a>
    {% endif %}
</body>
</html>