{% extends 'app/base.html' %}

{% block js %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
    $(document).ready(function() {
      $('#id_username').prop('required', true);
      $('#id_first_name').prop('required', true);
      $('#id_last_name').prop('required', true);

      var minLength = 3;

      $("#id_username").on("blur", function(){
        var value = $(this).val();
        if (value.length < minLength) {
          $("#id_username").val("");

          Swal.fire({
            position: 'center',
            icon: 'warning',
            title: 'El nombre debe tener mínimo 3 carácteres',
            showConfirmButton: false,
            timer: 1500
          })
        }
      });

      $("#id_first_name").on("blur", function(){
        var value = $(this).val();
        if (value.length < minLength) {
          $("#id_first_name").val("");

          Swal.fire({
            position: 'center',
            icon: 'warning',
            title: 'El nombre debe tener mínimo 3 carácteres',
            showConfirmButton: false,
            timer: 1500
          })
        }
      });

      $("#id_last_name").on("blur", function(){
        var value = $(this).val();
        if (value.length < minLength) {
          $("#id_last_name").val("");
    
          Swal.fire({
            position: 'center',
            icon: 'warning',
            title: 'El apellido debe tener mínimo 3 carácteres',
            showConfirmButton: false,
            timer: 1500
          })
        }
      });

      $("#id_email").on("blur", function(){
        var value = $(this).val();
        if (value.length < (minLength + 5)) {
          $("#id_email").val("");
    
          Swal.fire({
            position: 'center',
            icon: 'warning',
            title: 'El email debe tener mínimo 8 carácteres',
            showConfirmButton: false,
            timer: 1500
          })
        }
      });
    });

    
  </script>
{% endblock %}

{% block contenido %}
{% load static %}
    <!-- /.content-wrapper -->
    
    {% load crispy_forms_tags %}
    <div id="register" class="col-lg-6 col-sm-9 mt-5 d-block mx-auto" style="text-align:center;">
      <h2>Registro de Factura</h2>
      <hr>
      <form action="" method="post">
        {% csrf_token %}
        {{ form | crispy }}
        <div class="col">
          <div class="row">
            <button class="btn btn-primary d-flex mr-auto">
              <a href="{% url 'indexGestionFacturas' %}" 
              style="color: white;"
              >Volver</a>
            </button>
            <button class="btn btn-primary d-flex ml-auto" type="submit">Guardar Factura</button>
          </div>
        </div>
      </form>
    </div>
  <!-- /#wrapper -->

  <style>
    #user-table{
      font-size: 14px;
    }
  </style>
  {% endblock %}
