{% extends 'app/base.html' %}


{% block contenido %}
{% load static %}

<!-- {{message}} -->
<div id="proveedores-table" class="col-lg-10 col-sm-9 mt-5 d-block mx-auto" style="text-align:center;">
  <h2>Proveedores</h2>

  <div id="toolbar">
    <button class="btn btn-primary d-flex pr-auto mb-2"><a href="{% url 'registroProveedores' %}" style="color: white; text-decoration: none;">Crear Proveedor</a></button>
  </div>
  <table id="table" class="table table-striped table-bordered" style="width: 100%;"
    data-toggle="table"
    data-toolbar="#toolbar"
    data-search="true">
  
    <thead class="thead-dark">
      <tr>
        <!-- <th scope="col">#</th> -->
        <th scope="col">Rut</th>
        <th scope="col">Razón Social </th>
        <th scope="col">Nombre</th>
        <th scope="col">Telefono</th>
        <th scope="col">Correo</th>
        <th scope="col">Giro</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for p in Proveedores %}
      <tr>
        <td>{{p.2}}</td>
        <td>{{p.3}}</td>
        <td>{{p.1}}</td>
        <td>{{p.4}}</td>
        <td>{{p.5}}</td>
        <td>{{p.7}}</td>
        <td class="p-1">
          <a href="{% url 'modificarProveedores' p.0 %}" class="btn btn-primary" style="font-size: 14px;"><i class="fa fa-edit"> Editar</i></a>
          <a onclick="eliminarProveedor({{ p.0 }})" class="btn btn-primary" style="font-size: 14px; color: white; cursor: pointer;"><i class="fa fa-minus-square"> Eliminar</i></a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</div>
<!-- /#wrapper -->

<style>
#proveedores-table{
  font-size: 14px;
}
</style>
{% endblock %}


{% block js %}

<script>
    function eliminarProveedor(id)
    {
      swal.fire({
        "title": "¿Estás seguro?",
        "text": "¡Estás a punto de eliminar al proveedor!",
        "icon": "question",
        "showCancelButton": true,
        "cancelButtonText": "No, cancelar",
        "confirmButtonText": "Si, Eliminar",
        "reverseButtons": true,
        "confirmButtonColor": "#5cb85c",
        "cancelButtonColor": "#f15a25"
      })
      .then(function(result) {
        if(result.isConfirmed) {
          window.location.href = "eliminar/"+id+"/"
        }
      })
    }
  </script>

  <script>
    $(document).ready(function () {
      $.ajax({
        url:'http://127.0.0.1:8000/api/listar-proveedores/',
        dataType:'JSON',
        success:function(data){
          for (let i = 0; i < data.data.Proveedores.length; i++) {
            console.log(data.data.Proveedores[i]);
            let row = $('<tr><td>'+data.data.Proveedores[i][1]+'</td><td>'+data.data.Proveedores[i][2]+'</td><td>'+data.data.Proveedores[i][0]+'</td><td>'+data.data.Proveedores[i][3]+'</td><td>'+data.data.Proveedores[i][4]+'</td><td>'+data.data.Proveedores[i][5]+'</td><td class="p-1"><a onclick="" class="btn btn-primary" style="font-size: 14px; color: white; cursor: pointer;"><i class="fa fa-minus-square"> Desactivar</i></a></td></tr>');
            // $('#table').append(row);
          }
        }
      });
    });

  </script>


{% endblock %}
