{% extends 'app/base.html' %}

{% block contenido %}
{% load static %}
    <!-- /.content-wrapper -->
    
    <div id="register" class="col-lg-6 col-sm-9 mt-5 d-block mx-auto" style="text-align:center;">
      <h2>Registro de Proveedores</h2>
      <hr>
      <form action="/crear-proveedor/" method="GET">
        
        <!-- INPUT COMBOX CON LA API DE LISTAR -->
        
        <div class="col">
          <div class="row">
            <div class="form-group col-md-6">
              <label for="p_rut">Rut:</label>
              <input type="number" name="p_rut" class="form-control" required>
            </div>
            <div class="form-group col-md-6">
              <label for="p_dv" >DV:</label>
              <input type="number" name="p_dv" id="" min="0"  max="9" class="form-control" required>
            </div>
            <div class="form-group col-md-6">
              <label for="p_razon_social" >Razon Social:</label>
              <input type="text" name="p_razon_social" id="" class="form-control" required>
            </div>
            <div class="form-group col-md-6">
              <label for="p_nom_corto" >Nombre:</label>
              <input type="text" name="p_nom_corto" id="" class="form-control" required>
            </div>
            <div class="form-group col-md-6">
              <label for="p_telefono" >Telefono:</label>
              <input type="number" name="p_telefono" id="" class="form-control" required>
            </div>
            <div class="form-group col-md-6">
              <label for="p_correo" >Correo:</label>
              <input type="email" name="p_correo" id="" class="form-control" required>
            </div>
            <div class="form-group col-md-6">
              <label for="p_id_giro">Giro</label>
              <select class="form-control" name="p_id_giro" id="select-giro" required>
                {% for g in Giros %}
                  <option value="{{g.0}}">{{g.1}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="form-group col-md-6">
              <label for="p_direccion">Dirección</label>
              <input type="text" name="p_direccion" id="" class="form-control" required>
            </div>
            <div class="form-group col-md-6">
              <label for="p_num_dir">N° Dirección</label>
              <input type="number" name="p_num_dir" id="" class="form-control" required>
            </div>
            <div class="form-group col-md-6">
              <label for="p_nro_casa">N° Casa</label>
              <input type="number" name="p_nro_casa" id="" class="form-control" required>
            </div>
            <div class="form-group col-md-6">
              <label for="p_tipo_dir">Tipo Dirección</label>
              <select class="form-control" name="p_tipo_dir" id="" required>
                {% for t in TipoDirecciones %}
                  <option value="{{t.0}}">{{t.1}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="form-group col-md-6">
              <label for="p_id_com">Comuna</label>
              <select class="form-control" name="p_id_com" id="" required>
                {% for c in Comunas %}
                  <option value="{{c.0}}">{{c.1}}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>
        <div class="col mt-4">
          <div class="row">
            <a class="btn btn-primary d-flex mr-auto" href="{% url 'indexProveedores' %}">
              Volver
            </a>
            <button class="btn btn-primary d-flex ml-auto" type="submit">Aceptar</button>

          </div>  
        </div>
      </form>
    </div>
  <!-- /#wrapper -->

  <style>
    #user-table{
      font-size: 14px;
    }
  </style>
  {% endblock %}

  {% block js %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
    $(document).ready(function() {
      $('#id_username').prop('required', true);
      $('#id_first_name').prop('required', true);
      $('#id_last_name').prop('required', true);

      var minLength = 3;

      $("#id_username").on("blur", function(){
        var value = $(this).val();
        if (value.length < minLength) {
          $("#id_username").val("");

          Swal.fire({
            position: 'center',
            icon: 'warning',
            title: 'El nombre debe tener mínimo 3 carácteres',
            showConfirmButton: false,
            timer: 1500
          })
        }
      });

      $("#id_first_name").on("blur", function(){
        var value = $(this).val();
        if (value.length < minLength) {
          $("#id_first_name").val("");

          Swal.fire({
            position: 'center',
            icon: 'warning',
            title: 'El nombre debe tener mínimo 3 carácteres',
            showConfirmButton: false,
            timer: 1500
          })
        }
      });

      $("#id_last_name").on("blur", function(){
        var value = $(this).val();
        if (value.length < minLength) {
          $("#id_last_name").val("");
    
          Swal.fire({
            position: 'center',
            icon: 'warning',
            title: 'El apellido debe tener mínimo 3 carácteres',
            showConfirmButton: false,
            timer: 1500
          })
        }
      });

      $("#id_email").on("blur", function(){
        var value = $(this).val();
        if (value.length < (minLength + 5)) {
          $("#id_email").val("");
    
          Swal.fire({
            position: 'center',
            icon: 'warning',
            title: 'El email debe tener mínimo 8 carácteres',
            showConfirmButton: false,
            timer: 1500
          })
        }
      });
    });
  </script>

  
{% endblock %}